<div class="conatiner-fluid">

  <div class="row welcome text-center">
		<div class="col-12">
            <h3 class="display-4">Thank you!</h3>
            <h4>You can check your lesson detail from <%= link_to("here", lesson_path(@lesson))%> </h4>
        </div>
   </div>

</div>
