<div class="conatiner-fluid padding">

  <div class="row welcome text-center thanks-box">
		<div class="col-12">
            <h1>Thank you!</h1>
            <h2 class="thanks-message">You can check your lesson detail from <span class="blue"><%= link_to("here", lesson_path(@lesson))%></span> </h2>
        </div>
   </div>

</div>
