html {
    --border-radius: 5px;
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-family: "Hiragino Kaku Gothic ProN";
    // font-family: 'Holtwood One SC', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Just Another Hand', cursive;
    font-family: 'Dosis', sans-serif;
  }
  body{
    // font-family: 'Holtwood One SC', serif;
    font-family: 'Dosis', sans-serif;
        // font-family: 'Holtwood One SC', serif;
        // font-family: 'Playfair Display', serif;
        // font-family: 'Just Another Hand', cursive;
  }
//   h1{
//     font-family: 'Holtwood One SC', serif;
//   }
.navbar{
    padding: 1em;
}
.navbar-brand{
//     background-image:url("s_logo");
//     // background-color: red;
//     width: 1em;
//     height: 1em;
}
.navbar li{
   padding-left: 1em;
   padding-right: 1em;
   font-size:1.2em;
}

// welcome page//

.welcome-title{
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
}
  
  
  .top-wrapper{
    padding:8em 0 15em 0;
    background-image:url("welcome2");
    color:white;
    background-size:cover;
    text-align:center;
  }

  .top-wrapper h1{
    opacity:0.8;
  }

  .top-wrapper p{
    opacity:0.8;
  }

  .btn {
    padding: 0.5em 1em;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius:0.3em;
    font-size:1.5em;
  }
  
  .btn:hover{
    opacity:1;
  }

  .signup {
    background-color: #239b76;
  }

  .new-teacher {
    background-color: #3b5998;
  }
  
  .btn-wrapper {
    margin: 2em 0;
  }
  
  .btn-wrapper p {
    margin: 0.5em 0;
    font-size:1.5em;
    opacity:0.8;
  }

  // user my-page

  .mypage-wrapper{
    display:flex;
  }

  .lesson-box{
    flex:1;
    // border:1px solid lightgray;
  }
  .favourite-box{
    flex:1;
  }
  .favourited-card{
    padding:0 2em;
  }

  // login modal

  .login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
    
    
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: 300px;
    text-align: center;
  }
  
  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
  #signup-form, #login-form {
    width: 100%;
  }
  
  #signup-form h2, #login-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #signup-form input, #login-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  #submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: #5dca88;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  // teacher index page/
  .teacher-image{
    margin-bottom: 1em;
  }
  .teachers-row{
    padding: 1em 2em;
  }

  // teacher show page

  .teacher-card{
    margin-bottom: 2em;
    width: 100%;
  }

  .teacher-wrapper{
    display:flex;
    margin: 2em;
  }

  .teacher-profile-box{
    flex:1.5;
    padding: 1em;
  }
  .teacher-booking-box{
    flex:1;
    padding: 1em;
  }
  .price{
    justify-content:flex-end;
  }
