<div class="container-fluid padding">
  <div class="row welcome text-center">
		<div class="col-12">
            <h1>It's <%=current_user.first_name%>'s page</h1>
        </div>
   </div>
    <div class="dashboard-wrapper">

        <div class="lesson-box">
            <h2 class="text-center" >Your Upcoming lesson</h2>
        </div>

        <div class="requested-box">
            <h2 class="text-center">Requested lesson</h2>
        </div>

    </div>
</div>
